version: "3.9"

services:
  app:
    build: .
    container_name: warehouse_app
    restart: always
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - db
    networks:
      - warehouse_net

  db:
    image: mysql:8.0
    container_name: warehouse_db
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"  
      MYSQL_DATABASE: warehouse_db
    ports:
      - "3307:3306"  
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - warehouse_net

networks:
  warehouse_net:

volumes:
  db_data:
